body{
    background-color: black;
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "pri pri pri"
        "rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto auto;
}

header{
    grid-area: cab;
    justify-content: center;
    text-align: center;
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
}

header, aside, main, footer{
    background-color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "cab"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    aside{
        display: none;
    }
    header{
        display: none;
    }
    
}

p{
    margin: 40px;
    color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 500px;
    border-radius: 20px;
    justify-content: center;
}

/* Segunda Pagina */
 body{
    display: grid; 
    grid-template-areas: 
        "cabe cabe cabe"
        "prin prin prin"
        "roda roda roda";
        grid-gap: 5px;
        grid-template-columns: 20% auto auto;
        grid-template-rows: auto auto auto;
}

header{
    grid-area: cabe;
}

main{
    grid-area: prin;
}
footer{
    grid-area: roda;
}

header, aside, main, footer{
    background-color: rgba(255, 247, 247, 0.7);
}

@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "cab"
        "pri"
        "rod";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    aside{
        display: none;
    }
    header{
        display: none;
    }
    
}

#imagemDinamica {
    width: 600px;
    height: 400px;
}

#alterarImagem {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 20px;
    border: none;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.pergunta {
    margin-top: 20px;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #0074e4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#resultado {
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    background-color: #0074e4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#resultado1, #resultado2, #resultado3, #resultado4, #resultado5, #resultado6, #resultado7, #resultado8, #resultado9, #resultado10 {
    margin-top: 20px;
}